.btn{
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1.6rem;
  line-height: 1.5;
  border-radius: .5rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn_primary{
  color: #fff;
  background-color: $primary;
  border-color: $primary;
  &:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }
}
