html,
body {
  font-size: 10px;
  background-color: $bg-body;
  color: $default-color;
  font-family: $default-font;
}


body {
  font-size: $sizes-pr;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

ul{
  margin: 0;
  padding: 0;
}
