$static-root-fonts: "../../public/fonts/";

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $multi-format: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    //src: url($file-path);
    @if $multi-format == true {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff2') format('woff2'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype'),
      url('#{$file-path}.svg#oswald_stencilbold') format('svg');;

    } @else {
      src: url($file-path);
    }
  }
}

@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Thin.ttf", 100, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-ExtraLight.ttf", 200, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Light.ttf", 300, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Regular.ttf", 400, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Medium.ttf", 500, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-SemiBold.ttf", 600, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Bold.ttf", 700, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-ExtraBold.ttf", 800, normal, false);
@include font-face("Raleway", "#{$static-root-fonts}Raleway/Raleway-Black.ttf", 900, normal, false);

