
header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

#logo {
  display: inline-block;
  width: 135px;
  height: 46px;
  background: url('../../public/img/logo.svg') 50% no-repeat;
  background-size: contain;
  margin: 3px 15px;
  vertical-align: top;
}

button {
  border: 1px solid;
  border-radius: 10px;
  font-weight: 500;
}

nav {
  color: $default-color;
  transition: all .3s ease 1s, right .3s ease .5s, width .3s ease .5s, height .3s ease;

  a {
    color: #fff;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    padding: .5rem 0;
    margin: 0 1.5rem;

    &::after {
      position: absolute;
      width: 0;
      height: 1px;
      background-color: #439fe0;
      content: "";
      left: 0;
      bottom: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
    }

    &.active:after,
    &:hover:after {
      width: 100%;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  &.show {
    display: flex !important;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition: all .3s ease, right .3s ease .3s, width .3s ease .3s, height .3s ease .6s;
    justify-content: center;
    align-items: center;

      background-color: #439fe0;

      ul {
        display: block;
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
        li {
          display: block;
        }
      }

  }
}

#toggle {
  background-color: transparent;
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s ease, background .3s ease 1s, border-color .3s ease 1s;

  &:hover {
    background-color: #181d22;

  }
}

#toggle i,
.sb-toggle i {
  display: inline-block;
  width: 30px;
  height: 3px;
  vertical-align: middle;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;

  &:after,
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #fff;
    content: "";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  &:after {
    top: -8px
  }

  &:before {
    top: 8px;
  }
}

.show #toggle {
  border-color: transparent;
  background-color: transparent;
  transition: right .3s ease 1s, top .3s ease 1s;

  i {
    transform: rotate(-1turn);
    background-color: transparent;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

}

@media all and (max-width: 1023px) {
  header {
    #get_in_touch {
      display: none;
    }
  }
  nav {
    position: fixed;
    overflow: hidden;
    width: 50px;
    height: 50px;
    top: 8px;
    right: 20px;
    z-index: 999;
    text-align: center;
    //line-height: 100vh;
    ul {
      opacity: 0;
      margin-bottom: -200vh;
      visibility: hidden;
      transition: all .3s ease 1s;
    }

    ul {
      display: none;
    }

    #toggle {
      display: inline-block;
    }
  }
}

@media all and (min-width: 1024px) {
  nav {
    #toggle {
      display: none;
    }
  }
}
