//Fonts
$default-font: 'Raleway', sans-serif;


//colors
$bg-body: #030332;
$default-color: #FFF;

$primary: #69AAE5;

//Font Sises
$sizes-sm: 1.4rem;
$sizes-pr: 1.6rem;
$sizes-md: 2rem;
$sizes-lg: 2.4rem;
$sizes-xl: 2.7rem;
$sizes-title: 3.6rem;
$sizes-title-xl: 5.6rem;





// kill bootstrap variables
$grid-gutter-width: 20px !default;
$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
);
$container-max-widths: (
    sm: 420px,
    md: 720px,
    lg: 960px,
    xl: 1435px
);
